{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/section

    Displays a course section.

    Note: This template is a wrapper around the section/content template to allow course formats and theme designers to
    modify parts of the wrapper without having to copy/paste the entire template.

    Example context (json):
    {
        "num": 3,
        "id": 35,
        "sectionname": "Section title",
        "controlmenu": "[tools menu]",
        "header": {
            "name": "Section title",
            "title": "<a href=\"http://moodle/course/view.php?id=5#section-0\">Section title</a>",
            "url": "#",
            "ishidden": true,
            "headinglevel": 3
        },
        "cmlist": {
            "cms": [
                {
                    "cmitem": {
                        "cmformat": {
                            "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>",
                            "hasname": "true"
                        },
                        "id": 3,
                        "module": "forum",
                        "anchor": "activity-3",
                        "extraclasses": "newmessages"
                    }
                },
                {
                    "cmitem": {
                        "cmformat": {
                            "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Assign example</span></a>",
                            "hasname": "true"
                        },
                        "id": 4,
                        "anchor": "activity-4",
                        "module": "assign",
                        "extraclasses": ""
                    }
                }
            ],
            "hascms": true
        },
        "ishidden": false,
        "iscurrent": true,
        "currentlink": "<span class=\"accesshide\">This topic</span>",
        "availability": {
            "info": "<span class=\"badge bg-info\">Hidden from students</span>",
            "hasavailability": true
        },
        "summary": {
            "summarytext": "Summary text!"
        },
        "controlmenu": {
            "menu": "<a href=\"#\" class=\"d-inline-block dropdown-toggle icon-no-margin\">Edit<b class=\"caret\"></b></a>",
            "hasmenu": true
        },
        "cmcontrols": "[Add an activity or resource]",
        "iscoursedisplaymultipage": true,
        "sectionreturnnum": 0,
        "contentcollapsed": false,
        "insertafter": true,
        "numsections": 42,
        "sitehome": false,
        "highlightedlabel" : "Highlighted"
    }
}}
<li id="section-{{num}}"
    class="section course-section main {{#onlysummary}} section-summary {{/onlysummary}} clearfix
            {{#ishidden}} hidden {{/ishidden}} {{#iscurrent}}{{^displayonesection}} current {{/displayonesection}}{{/iscurrent}}
            {{#isstealth}} orphaned {{/isstealth}}"
    data-sectionid="{{num}}"
    data-sectionreturnnum="{{sectionreturnnum}}"
    data-for="section"
    data-id="{{id}}"
    data-number="{{num}}"
    data-sectionname="{{sectionname}}"
    {{#isstealth}} data-orphan="true" {{/isstealth}}
>
    <div class="section-item">
        {{$ core_courseformat/local/content/section/content }}
            {{> core_courseformat/local/content/section/content }}
        {{/ core_courseformat/local/content/section/content }}
    </div>

    <div class="d-flex justify-content-center my-3 w-100">
        <button type="button" class="btn btn-primary rounded-circle shadow-sm" style="width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; z-index: 1;" 
                data-toggle="modal" data-target="#studentQuizModal-{{id}}" data-bs-toggle="modal" data-bs-target="#studentQuizModal-{{id}}" title="Add personal quiz">
            <i class="fa fa-plus m-0"></i>
        </button>
    </div>

    <!-- Student Quiz Modal -->
    <div class="modal fade" id="studentQuizModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="studentQuizModalLabel-{{id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="studentQuizModalLabel-{{id}}">Add Personal Quiz</h5>
                    <button type="button" class="close btn-close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <p>Would you like to add a new personal practice quiz to this section?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="add-personal-quiz-btn-{{id}}">Add Quiz</button>
                </div>
            </div>
        </div>
    </div>

    {{#js}}
    require(['jquery', 'core/notification'], function($, notification) {
        $('#add-personal-quiz-btn-{{id}}').on('click', function(e) {
            e.preventDefault();
            var btn = $(this);
            btn.prop('disabled', true).text('Creating...');
            $.ajax({
                url: M.cfg.wwwroot + '/local/create_personal_quiz_ajax.php',
                type: 'POST',
                data: {
                    sectionid: '{{id}}',
                    sesskey: M.cfg.sesskey
                },
                success: function(response) {
                    try {
                        var data = typeof response === 'object' ? response : JSON.parse(response);
                        if (data.success) {
                            // Close the modal
                            $('#studentQuizModal-{{id}}').modal('hide');
                            
                            // Force a hard reload bypassing cache so the new quiz appears
                            var url = new URL(window.location.href);
                            url.searchParams.set('forceRefresh', Date.now());
                            window.location.href = url.toString();
                        } else {
                            notification.addNotification({
                                message: data.message || 'Failed to create quiz',
                                type: 'error'
                            });
                            btn.prop('disabled', false).text('Add Quiz');
                        }
                    } catch (err) {
                        console.error('Raw response:', response);
                        var errorStr = typeof response === 'string' ? response : JSON.stringify(response);
                        notification.addNotification({
                            message: 'Parse error. Raw response: ' + (errorStr ? errorStr.substring(0, 100) : 'Unknown'),
                            type: 'error'
                        });
                        btn.prop('disabled', false).text('Add Quiz');
                    }
                },
                error: function() {
                    notification.addNotification({
                        message: 'Connection error',
                        type: 'error'
                    });
                    btn.prop('disabled', false).text('Add Quiz');
                }
            });
        });
    });
    {{/js}}

    {{#insertafter}}
        {{#numsections}}
            {{$ core_courseformat/local/content/addsection}}
                {{> core_courseformat/local/content/section/addsectiondivider }}
            {{/ core_courseformat/local/content/addsection}}
        {{/numsections}}
    {{/insertafter}}
</li>
